absl-py==1.0.0
ALS.Milo==0.18.1
altair==4.2.0
anaconda-navigator==2.2.0
anyascii==0.3.1
appdirs==1.4.4
argh==0.26.2
astunparse==1.6.3
bkcharts==0.2
black==19.10b0
blinker==1.4
blis==0.7.8
boto==2.49.0
brotlipy==0.7.0
bs4==0.0.1
catalogue==2.0.7
certifi==2022.6.15
click==8.0.3
clyent==1.2.2
comet-ml==3.31.3
commonmark==0.9.1
compress-pickle==2.1.0
comtypes==1.1.10
conda==4.13.0
conda-build==3.21.9
conda-verify==3.4.2
configobj==5.0.6
contractions==0.1.72
cycler==0.10.0
cymem==2.0.6
cytoolz==0.11.0
daal4py==2021.3.0
dask==2021.10.0
dulwich==0.20.42
emoji==1.7.0
entrypoints==0.3
enum34==1.1.10
et-xmlfile==1.1.0
everett==3.0.0
findspark==2.0.1
flatbuffers==2.0
fonttools==4.25.0
ftfy==6.1.1
gast==0.5.3
gitdb==4.0.9
GitPython==3.1.27
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20
grpcio==1.46.1
htmlmin==0.1.12
hydralit==1.0.13
hydralit-components==1.0.10
ImageHash==4.2.1
imbalanced-learn==0.9.1
inflection==0.5.1
install-jdk==0.3.0
ipython-sql==0.4.0
jupyter-tabnine==1.2.3
keras==2.8.0
Keras-Preprocessing==1.1.2
langcodes==3.3.0
lazy_loader==0.1rc2
libclang==14.0.1
lightgbm==3.3.2
littleutils==0.2.2
llvmlite==0.38.0
locket==0.2.1
Markdown==3.3.7
MarkupSafe==2.1.1
mccabe==0.6.1
missingno==0.5.1
mkl-fft==1.3.1
mkl-service==2.4.0
mlxtend==0.20.0
mpmath==1.2.1
multimethod==1.8
munkres==1.1.4
murmurhash==1.0.7
mypy-extensions==0.4.3
navigator-updater==0.2.1
nlppreprocess==1.0.2
nltk==3.7
numpy==1.22.4
nvidia-ml-py3==7.352.0
opt-einsum==3.3.0
outdated==0.2.1
p2j==1.3.2
packaging==21.3
pandas-flavor==0.3.0
pandas-ml==0.6.1
pandas-profiling==3.2.0
parfit==0.220
pathlib==1.0.1
pathspec==0.7.0
pathy==0.6.1
patsy==0.5.2
pep8==1.7.1
phik==0.12.2
Pillow==8.4.0
pingouin==0.5.2
pkginfo==1.7.1
PkgScript==0.6.1
plotly-express==0.4.1
ply==3.11
preshed==3.0.6
prettytable==0.7.2
protobuf==3.20.1
py4j==0.10.9.5
pyahocorasick==1.4.4
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.44.1
pydantic==1.8.2
pydeck==0.7.1
pyls-spyder==0.4.0
Pympler==1.0.1
PyMySQL==1.0.2
pyodbc===4.0.0-unsupported
pyreadline==2.1
pyspark==3.3.0
pyspellchecker==0.6.3
pytest==6.2.4
python-dotenv==0.19.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-pipeline==1.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==228
PyYAML==6.0
raimitigations==0.0.3
requests-toolbelt==0.9.1
rich==12.4.4
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-image==0.18.3
scikit-learn-intelex==2021.20210714.120553
scikit-surprise==1.1.1
semantic-version==2.10.0
semver==2.13.0
sequential==1.0.0
shap==0.40.0
simplegeneric==0.8.1
simplejson==3.17.6
sip==4.19.13
sklearn==0.0
slicer==0.0.7
smart-open==5.2.1
smmap==5.0.0
spacy==3.3.1
spacy-legacy==3.0.9
spacy-loggers==1.0.2
Sphinx==4.2.0
sql-magic==0.0.4
sqlparse==0.4.2
srsly==2.4.3
statsmodels==0.13.2
streamlit==1.11.0
streamlit-aggrid==0.2.3.post2
streamlit-lottie==0.0.3
streamlit-player==0.1.5
streamlit-tags==1.2.8
tables==3.6.1
tabulate==0.8.10
tangled-up-in-unicode==0.2.0
TBB==0.2
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.25.0
termcolor==1.1.0
terminado==0.9.4
textblob==0.17.1
textsearch==0.0.21
tf-estimator-nightly==2.8.0.dev2021122109
thinc==8.0.17
torch==1.10.2
truncated-famd==0.0.1
typer==0.4.1
tzdata==2022.1
tzlocal==4.2
unicodecsv==0.14.1
urllib3==1.26.7
validators==0.20.0
vega-datasets==0.9.0
visions==0.7.4
wasabi==0.9.1
webencodings==0.5.1
websocket-client==1.3.2
win-unicode-console==0.5
wincertstore==0.2
wurlitzer==3.0.2
xarray==2022.6.0
xgboost==1.5.2
xlwings==0.24.9
xlwt==1.3.0
zict==2.0.0
zope.event==4.5.0
