body {
    color: #fff;
background-color: #b390eb;
}

.stButton>button {
    color: #4F8BF9;
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.stTextInput>div>div>input {
    color: #4F8BF9;
}