body {
    width: 100%;
  height: 400px;
  background-image: url(https://giphy.com/gifs/UZmGk220qmJEI/html5),
      linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  background-repeat: no-repeat,
      no-repeat,
      no-repeat;
  background-position: bottom right,
      left,
      right
}